[Unit]
Description=Adjusts the color temperature of the screen
Documentation=man:redshift(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/redshift -l 48.9:-77.0 -t 6500:5000 -g 0.9 -m wayland

[Install]
WantedBy=sway-session.target
