# /etc/systemd/system/protonvpn-restart.service

[Unit]
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/systemctl --user --machine=anordhoff@ try-restart protonvpn_reconnect.service

[Install]
WantedBy=suspend.target
