[Unit]
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
# Restart=on-failure

# system targets cannot be used in user services
ExecStartPre=sh -c "until systemctl is-active network-online.target; do sleep 1; done"
ExecStart=protonvpn-cli connect --fastest
ExecStop=protonvpn-cli disconnect

[Install]
WantedBy=graphical-session.target
