[user]
    signingkey = 56C52ED1FB37BD45
    email = aaron.nordhoff@outlook.com
    name = Aaron Nordhoff
[credential]
    helper = cache --timeout=3600
[core]
    pager = less -FRX
    excludesfile = ~/.gitignore
[url "git@github.com:"]
    insteadOf = https://github.com/
[commit]
    gpgsign = true
[merge]
    tool = vimdiff3
[mergetool]
    keepBackup = false
[mergetool "vimdiff3"]
    cmd = nvim -d $LOCAL $MERGED $REMOTE
[pull]
    ff = only
[oh-my-zsh]
    hide-dirty = 1
