[Unit]
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
	timeout 1200 'swaylock -f -i ~/Pictures/fedora-gruvbox.png' \
	timeout 1800 'swaymsg "output * dpms off"' \
	resume 'swaymsg "output * dpms on"' \
	before-sleep 'swaylock -f -i ~/Pictures/fedora-gruvbox.png'

[Install]
WantedBy=sway-session.target
