[Unit]
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wlsunset -T 6500 -t 4000 -S 07:00 -s 19:00

[Install]
WantedBy=sway-session.target
