# tmux
[submodule "tmux/plugins/continuum"]
	path = tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/plugins/resurrect"]
	path = tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git

# vim (start)
