# tmux
[submodule "tmux/plugins/continuum"]
	path = tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
	branch = master
[submodule "tmux/plugins/resurrect"]
	path = tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
	branch = master

# vim (start)
[submodule "vim/pack/package/start/commentary"]
	path = vim/pack/package/start/commentary
	url = https://github.com/tpope/vim-commentary.git
	branch = master
[submodule "vim/pack/package/start/dirvish"]
	path = vim/pack/package/start/dirvish
	url = https://github.com/justinmk/vim-dirvish.git
	branch = master
[submodule "vim/pack/package/start/dispatch"]
	path = vim/pack/package/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
	branch = master
[submodule "vim/pack/package/start/obsession"]
	path = vim/pack/package/start/obsession
	url = https://github.com/tpope/vim-obsession.git
	branch = master
[submodule "vim/pack/package/start/repeat"]
	path = vim/pack/package/start/repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "vim/pack/package/start/rsi"]
	path = vim/pack/package/start/rsi
	url = https://github.com/tpope/vim-rsi.git
	branch = master
[submodule "vim/pack/package/start/sleuth"]
	path = vim/pack/package/start/sleuth
	url = https://github.com/tpope/vim-sleuth.git
	branch = master
[submodule "vim/pack/package/start/subversive"]
	path = vim/pack/package/start/subversive
	url = https://github.com/svermeulen/vim-subversive.git
	branch = master
[submodule "vim/pack/package/start/surround"]
	path = vim/pack/package/start/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "vim/pack/package/start/unimpaired"]
	path = vim/pack/package/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	branch = master

# vim (opt)
[submodule "vim/pack/package/opt/startuptime"]
	path = vim/pack/package/opt/startuptime
	url = https://github.com/dstein64/vim-startuptime.git
	branch = master

# vim (experimental)
[submodule "vim/pack/package/start/polyglot"]
	path = vim/pack/package/start/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
[submodule "vim/pack/package/start/qf"]
	path = vim/pack/package/start/qf
	url = https://github.com/romainl/vim-qf.git
	branch = master
[submodule "vim/pack/package/start/targets"]
	path = vim/pack/package/start/targets
	url = https://github.com/wellle/targets.vim.git
	branch = master
