[Unit]
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/aaron/.local/bin/libinput-gestures

[Install]
WantedBy=graphical-session.target
