* {
    border: none;
    border-radius: 0;
    font-family: SF Pro Display;
    font-size: 15px;
    font-weight: 500;
    min-height: 0;
}

window#waybar {
    background: #000000;
    color: #cfd6e6;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px 0px 0px 6px;
    color: #5c6370;
}

#workspaces button.focused {
    color: #cfd6e6;
}

#workspaces button:hover {
    background: #000000;
}

#tray, #custom-spotify, #custom-vpn, #network, #pulseaudio, #backlight.on, #battery {
    margin: 0px 12px;
}

#custom-vpn.disconnected {
    margin: 0px 0px;
    font-size: 0px;
}

#backlight.off {
    margin: 0px 0px;
    font-size: 0px;
}

#battery.critical {
    color: #bf5858;
}

#clock {
    margin: 0px 8px 0px 12px;
    font-weight: 500;
}
