/* inspired by https://github.com/AlfarexGuy2019/keyfox */

/* --- visibility --- */

/* hide macos close/minimize/fullscreen buttons */
#TabsToolbar > .titlebar-buttonbox-container {
  visibility: collapse !important;
}

/* hide bookmark button */
#star-button-box {
  display: none !important
}



/* --- positioning --- */

/* set width of the navigation bar;
 * px for a fixed width or vw for a percentage of the window */
:root {
  --nav-bar-width: 300px;
}

/* set size and position of the navigation bar */
:root[uidensity="compact"] #nav-bar {
  margin-top  : -37px !important;
  height      : 37px !important;
}
:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top  : -44px !important;
  height      : 44px !important;
}
:root[uidensity="touch"] #nav-bar {
  margin-top  : -49px !important;
  height      : 49px !important;
}
#nav-bar {
  margin-right: calc(100vw - var(--nav-bar-width)) !important;
}

/* prevent the url bar from overlapping with the personal bar */
#urlbar-container {
  min-width: 0 !important;
}

/* set position of the tab bar */
#TabsToolbar {
  margin-left: var(--nav-bar-width) !important;
}

/* remove padding before and (mostly) after tab bar */
.titlebar-spacer[type="pre-tabs"] {
  display: none !important;
}
.titlebar-spacer[type="post-tabs"] {
  width: 3px !important;
}



/* --- style --- */

/* keep the color of the bar consistent */
toolbar#nav-bar {
  background: none !important;
}

/* increase the width of the url bar when focused */
#nav-bar[urlbar-exceeds-toolbar-bounds="true"] toolbarbutton {
  display: none !important;
}

/* set the url bar border radius to match macos window radius when the url bar
 * is expanded */
#urlbar[breakout][breakout-extend] > #urlbar-background {
  border-radius: 9px !important;
}
