[Unit]
Description=ProtonVPN autostart

[Service]
# Type=oneshot
# RemainAfterExit=yes
Type=simple

# Only needed if using the killswitch
# ExecStartPre=-protonvpn-cli killswitch --off
# ExecStartPre=-protonvpn-cli killswitch --on

# Waits until it is online. It is required because system targets cannot be used in user services.
ExecStartPre=sh -c "until systemctl is-active network-online.target; do sleep 1; done"
ExecStartPre=protonvpn-cli reconnect
ExecStart=sh -c "while protonvpn-cli status | grep -q 'Server:'; do sleep 5; done"

# TimeoutStartSec=30
# ExecStop=protonvpn-cli disconnect
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
