# /etc/systemd/system/protonvpn-suspend.service

[Unit]
Before=sleep.target

[Service]
Type=simple
# ExecStart=-/usr/bin/systemctl stop strongswan.service
ExecStart=protonvpn-cli disconnect
ExecStartPost=/usr/bin/sleep 5

[Install]
WantedBy=sleep.target
