[Unit]
Description=ProtonVPN-CLI disconnect before sleep
Before=suspend.target
Before=hibernate.target
Before=hybrid-sleep.target

[Service]
Type=forking
Environment=PVPN_WAIT=300
Environment=PVPN_DEBUG=1
Environment=SUDO_USER=insert_your_username_here
ExecStart=/usr/local/bin/protonvpn disconnect


[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
