[Unit]
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/ydotoold

[Install]
WantedBy=graphical-session.target
