[Service]
Restart=always
RestartSec=3
ExecStart=/home/aaron/.local/bin/kmonad /home/aaron/dotfiles/kmonad/linux.kbd
Nice=-20

[Install]
WantedBy=default.target
