<!-- /Library/LaunchDaemons/local.keyboard.plist -->

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.keyboard</string>
    <key>Program</key>
    <string>/usr/local/bin/keyboard</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/keyboard</string>
      <string>/usr/local/share/keyboard/mac.kbd</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/keyboard.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/keyboard.stderr</string>
  </dict>
</plist>
