[Service]
Restart=always
RestartSec=60
ExecStart=/home/aaron/.local/bin/kanata --quiet --cfg /home/aaron/dotfiles/kanata/linux.kbd

[Install]
WantedBy=default.target
