[Unit]
Description=Use evscript to map AltGr to escape when tapped

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/evscript -f /home/anordhoff/.dotfiles/evscript/esc.dyon -d /dev/input/event2 /dev/input/event3

[Install]
WantedBy=multi-user.target
