window {
    margin: 5px;
    border: 1px #606060;
    background-color: #606060;
}

#input {
    margin: 10px;
    border: 2px #303030;
    color: #a3acb5;
    background-color: #303030;
}

#inner-box {
    margin: 5px;
    border: 2px #202020;
    background-color: #202020;
}

#outer-box {
    margin: 1px;
    border: 2px #202020;
    background-color: #202020;
}

#scroll {
    margin: 5px;
    border: 2px #202020;
    background-color: #202020;
}

#text {
    margin: 2px;
    border: 2px ;
    color: #a3acb5;
    background-color: #202020;
} 
